In [5]:
import pandas as pd

# Ler o arquivo CSV
df = pd.read_csv("File.csv", header=None)

df

                                                        0
0       -1.200000000e+00;0.000000000e+00;-1.999938965e-08
1       -1.195200000e+00;0.000000000e+00;-1.999938965e-08
2       -1.190400000e+00;0.000000000e+00;-1.999938965e-08
3       -1.185600000e+00;0.000000000e+00;-1.999938965e-08
4       -1.180800000e+00;0.000000000e+00;-1.999938965e-08
...                                                   ...
204795    1.233600000e+00;4.000000000e+02;3.125610373e-09
204796    1.238400000e+00;4.000000000e+02;3.195800803e-09
204797    1.243200000e+00;4.000000000e+02;3.322753928e-09
204798    1.248000000e+00;4.000000000e+02;3.479003928e-09
204799    1.252800000e+00;4.000000000e+02;3.215332053e-09

[204800 rows x 1 columns]

In [20]:
import pandas as pd

# Ler o arquivo CSV usando ponto e vírgula como delimitador
df = pd.read_csv("File.csv", header=None, delimiter=';')

# Extrair apenas as colunas 1 e 3 (considerando a indexação iniciando em 0)
dados_iv = df.iloc[:, [0, 2]]

# Renomear as colunas para 'V' e 'I'
dados_iv.columns = ['V', 'I']

# Exibir as primeiras linhas do DataFrame resultante
dados_iv.head()

        V             I
0 -1.2000 -1.999939e-08
1 -1.1952 -1.999939e-08
2 -1.1904 -1.999939e-08
3 -1.1856 -1.999939e-08
4 -1.1808 -1.999939e-08

In [1]:
import pandas as pd

# Ler o arquivo CSV usando ponto e vírgula como delimitador
df = pd.read_csv("File.csv", header=None, delimiter=';')

# Extrair apenas as colunas 1 e 3 (considerando a indexação iniciando em 0)
dados_iv = df.iloc[:, [0, 2]]

# Renomear as colunas para 'V' e 'I'
dados_iv.columns = ['x', 'y']

# Dividir o DataFrame em 400 partes, cada uma contendo 512 linhas
curvas = [dados_iv[i:i+512]['y'].reset_index(drop=True) for i in range(0, len(dados_iv), 512)]

# Criar um único DataFrame para todas as curvas
df_final = pd.concat(curvas, axis=1)

# Renomear as colunas de corrente para 'y_1', 'y_2', ..., 'y_400'
df_final.columns = [f"y_{i}" for i in range(1, len(curvas) + 1)]

# Adicionar a coluna de voltagem ao DataFrame final
df_final['x'] = dados_iv['x'].iloc[:512].reset_index(drop=True)

# Reordenar as colunas para que 'x' seja a primeira coluna
df_final = df_final[['x'] + [f"y_{i}" for i in range(1, len(curvas) + 1)]]

# Salvar todas as curvas em um único arquivo CSV
df_final.to_csv("curvas_combined_F.csv", index=False)